{% extends 'home_page.html' %}
{% load static %}
{% load cart_tag %}
    {% block css_links %}
    <link rel="stylesheet" href="{% static 'css/cart_detail.css' %}">
    {% endblock css_links %}
    {% block content %} 

    
   
    
    {% for key,value in request.session.cart.items %}
   

    <div class="product-detail">
        <div class="product-detail__left">
            <img src="{{ product.image.all.first.image.url}}" alt="" class="product-detail__left-img">
        </div>
        <div class="product-detail__right">
            <ul class="right__list">
                <li class="right__list-item">Cart details: </li>
                <li class="right__list-item">Name: {{value.name}} </li>
                <li class="right__list-item">Quantity: {{value.quantity}} </li>
                <li class="right__list-item">Price: {{value.price}} </li>
                <li class="right__list-item">Total: {{ value.price|multiply:value.quantity }}</li>

                    <a href="{% url 'item_increment' value.product_id %}" >+</a>
         
             
                    <a href="{% url 'item_decrement' value.product_id %}" >-</a>  


                    <a  href="{% url 'cart_clear' %}" >clear</a>
            </ul>
        </div>
    </div>
    {% endfor %}
    <div class="product-detail">
        <h3>
            Total Length: {{request.session.cart|length}}</h3>
    </div>

    {% endblock content %}