
/* product detail styles */
.product-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
/* left styles */
.product-detail__left {
    width: 50%;
    display: flex;
    justify-content: center;
}
.product-detail__left-img{
    width: 80%;
    height: 100%;
    border: 2px solid #A9A9A9;
    border-radius: 10px;
    box-shadow: 0 0 35px #BEBEBE;
}
/* end left styles */
/* right styles */
.product-detail__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.right__title {
    font-size: 50px;
}
.right__list {
    list-style-type: none;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}
/* end right style */
/* carousel styles */
.carousel-data {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5% 0;   
}
.carousel {
    width: 70%;
    border: 2px solid #A9A9A9 !important;
    border-radius: 10px;
    box-shadow: 0 0 35px #BEBEBE;
}
.carousel-img {
    width: 350px;
    height: 450px;
    border-radius: 10px;
}
/* end carousel style */
/* reviews style */
.reviews-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
}
.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}
.card {
    margin: 1%;
    background-color: transparent !important;
    color: rgb(254, 255, 255);
    border: 2px solid #A9A9A9 !important;
    box-shadow: 5px 5px 5px #BEBEBE;
}
.btn-light:hover {
    box-shadow: 0 0 25px #BEBEBE;
    transition: 0.8s;
}
/* end reviews style */

/* review modal styles */
.add-review-form {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.add-review-form > input {
    width: 70%;
    margin: 1% 0;
    height: 40px;
    border: 2px solid #212529;
    border-radius: 10px;
    transition:0.8s;
}

.add-review-form > input:focus {
    background-color: #212529;
    color: white;
    transition: 0.8s;
}

.add-review-form > button {
    margin-bottom: 1%;
}


/* end product styles */
